@use 'sass:math';

.images {
	$image-width: 1222px;
	$image-height: 1209px;

	// .images__wrapper
	&__wrapper {
		@include media-down(xl) {
			padding-right: 20px;
			padding-left: 20px;
		}
		@include media-down(md) {
			padding-right: 10px;
			padding-left: 10px;
		}
		max-width: $image-width;
		margin: 0 auto;
	}

	// .images__picture
	&__picture {
		padding-bottom: math.percentage(math.div($image-height, $image-width));

		&--smile {
			background: url('images/images2/smile.png') 0 / contain no-repeat;
		}

		&--dolar {
			background: url('../images/dollar.png') 0 / contain no-repeat;
		}
	}
}
