%border-card-content {
	@include media-down(md) {
		padding: 20px;
	}
	padding: 30px;

	border: 1px solid #fff;
	border-top: none;
}

// -------------------- Header ------------------------------------
%base-header {
	@include media-down(xl) {
		padding: 0 10px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 13px;

	border: 1px solid #fff;

	&:has(.border-card-header-cross) {
		padding-left: 0;
	}
}

%large-header {
	@extend %base-header;

	@include media-down(md) {
		height: 27px;
	}
	height: 45px;
}

%medium-header {
	@extend %base-header;

	@include media-down(xl) {
		height: 22px;
	}

	@include media-down(md) {
		height: 27px;
	}
	height: 37px;
}

%small-header {
	@extend %base-header;
	@include media-down(md) {
		height: 27px;
	}
	height: 30px;
}

// -------------------- END Header ------------------------------------
// -------------------- LABEL ------------------------------------
%header-label {
	@include media-down(md) {
		font-size: rem(12);
	}
	font-family: $secondary-font;
	font-size: rem(14);
	font-weight: 500;
	line-height: 145%;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

// ---------------------- END LABEL -----------------------------------

%border-card-header-cross-lines {
	@include media-down(md) {
		width: 26px;
	}
	position: relative;

	overflow: hidden;

	width: 44px;
	height: 100%;

	border-right: 1px solid #fff;

	&::after {
		content: '';

		position: absolute;
		top: 0;
		left: 100%;
		transform: rotate(135deg);
		transform-origin: left;

		width: 160%;
		height: 1px;

		background-color: #fff;
	}

	span {
		position: absolute;
		top: -2px;
		left: -2px;
		transform: rotate(45deg);
		transform-origin: left;

		width: 160%;
		height: 1px;

		background-color: #fff;
	}
}

%header-circles {
	$border-width: 1px;
	$sideLength: 11px;

	@include media-down(md) {
		width: 9px;
		height: 9px;
	}
	position: relative;

	box-sizing: border-box;
	width: $sideLength;
	height: $sideLength;

	border: $border-width solid #fff;
	border-radius: 50%;

	&::after,
	&::before {
		content: '';

		position: absolute;
		top: -$border-width;
		left: -$border-width;

		box-sizing: inherit;
		width: inherit;
		height: inherit;

		border: inherit;
		border-radius: inherit;
	}

	&::after {
		@include media-down(md) {
			left: calc(100% + 7px);
		}
		left: calc(100% + 10px);
	}

	&::before {
		@include media-down(md) {
			left: calc(100% + 7px + 100% + 7px);
		}
		left: calc(100% + 10px + 100% + 10px);
	}
}

%header-cross {
	@include media-down(md) {
		width: 26px;
	}
	position: relative;

	overflow: hidden;

	width: 44px;
	height: 100%;

	border-right: 1px solid #fff;

	&::after,
	&::before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: center;

		width: 160%;
		height: 1px;

		background-color: #fff;
	}

	&::after {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::before {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

%header-icon {
	@include media-down(md) {
		width: 18px;
		height: 18px;
	}
	width: 31px;
	height: 31px;
	margin-left: auto;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.border-card-small-header {
	@extend %small-header;
}

.border-card-medium-header {
	@extend %medium-header;
}

.border-card-large-header {
	@extend %large-header;
}

.border-card-header-circles {
	@extend %header-circles;

	@at-root .border-card-medium-header > & {
		@include media-down(xl) {
			width: 6px;
			height: 6px;
		}
	}
}

.border-card-header-cross {
	@extend %header-cross;
}

.border-card-header-label {
	@extend %header-label;
}

.border-card-content {
	@extend %border-card-content;
}

// ------------------ Header Icons ---------------------
.border-card-header-tg {
	@extend %header-icon;
	background-image: url('../../images/questions/tg.svg');
}

.border-card-header-planet {
	@extend %header-icon;
	background-image: url('../../images/jury/planet.svg');
}
