%form-control {
	@include media-down(md) {
		font-size: rem(15);
	}
	cursor: pointer;

	height: rem(62);

	font-family: $secondary-font;
	font-size: rem(17);
	color: #fff;

	background-color: rgb(255 255 255 / 10%);
	backdrop-filter: blur(25px);
	border: 1px solid #fff;
}

.form-label {
	@include media-down(md) {
		font-size: rem(13);
	}
	cursor: pointer;

	display: inline-block;

	margin-bottom: rem(10);

	font-family: $secondary-font;
	font-size: rem(15);
	font-weight: 500;
	font-style: normal;
	line-height: 140%;
	color: #fff;

	&--tooltip {
		&::after {
			content: '';

			display: inline-block;

			width: 15px;
			height: 15px;

			vertical-align: middle;

			background: url('../images/form/question.svg') center / contain
				no-repeat;
		}
	}
}

.form-input {
	@extend %form-control;
	cursor: auto;

	width: 100%;
	padding-right: rem(20);
	padding-left: rem(20);
}

.button-group {
	position: relative;

	display: flex;

	& > label {
		flex-grow: 1;

		width: 100%;
	}
}

.form-button {
	@extend %form-control;

	@include media-down(xl) {
		font-size: rem(15);
	}
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
}

.button-check {
	pointer-events: none;

	position: absolute;

	clip: rect(0, 0, 0, 0);

	&:checked + .form-button {
		position: relative;
		z-index: 1;

		color: #01061b;

		background-color: #fff;

		transition: background-color 0.3s;
	}

	&:checked:focus + .form-button {
		outline: 1px solid white;
	}
}

.form-select {
	@extend %form-control;
	cursor: pointer;

	position: relative;

	display: block;

	width: 100%;
	padding-right: rem(20);
	padding-left: rem(20);

	background-image: url('../images/form/bottom-arrow.svg');
	background-repeat: no-repeat;
	background-position: right 20px center;

	appearance: none;

	&::-ms-expand {
		display: none;
	}

	& > option {
		background-color: $background-color;
	}
}

.form-file {
	position: relative;

	&__input {
		pointer-events: none;

		position: absolute;

		width: 0;

		clip: rect(0, 0, 0, 0);

		&:focus + .form-file__name {
			outline: 1px solid white;
		}
	}

	&__name {
		@extend %form-control;
		cursor: pointer;

		overflow: hidden;
		display: block;

		padding-right: 60px;
		padding-left: 20px;

		line-height: 62px;
		text-overflow: ellipsis;
		white-space: nowrap;

		background-image: url('../images/form/attach.svg');
		background-repeat: no-repeat;
		background-position: right 20px center;
	}
}
