.form-section {
	&__container {
		position: relative;

		&::before {
			content: '';

			position: absolute;
			z-index: -1;
			right: -250px;
			bottom: -300px;
			transform: rotate(119.63deg);

			width: 367px;
			height: 571px;

			/* Дополнительный 500 */

			background: #3d2abf;
			filter: blur(90.5px);
		}
	}

	// .form__title
	&__title {
		@include media-down(md) {
			margin-top: -40px;
			margin-bottom: 30px;
		}
		margin-top: -120px;
		margin-bottom: 50px;
	}

	// .form-section__attention-wrapper
	&__attention-wrapper {
		display: flex;
		align-items: start;

		margin-bottom: 30px;
	}

	// .form-section__attention-element
	&__attention-element {
		@include media-down(md) {
			margin-top: 4px;
		}
		position: relative;

		display: flex;
		flex: 1 1 auto;
		align-items: center;
		justify-content: center;

		&::before {
			content: '';

			display: block;

			width: 100%;
			height: 1px;
			margin-right: 25px;

			background-color: #ece3e3ab;
		}

		&::after {
			@include media-down(md) {
				width: 15px;
				height: 15px;
			}
			content: '';

			display: block;
			flex-shrink: 0;

			width: 30px;
			height: 30px;

			background-image: url('../images/form/required.svg');
			background-repeat: no-repeat;
			background-position: center right;
			background-size: cover;
		}
	}

	// .form-section__attention-text
	&__attention-text {
		@include media-down(md) {
			max-width: 200px;

			font-size: rem(16);
		}
		display: inline-block;

		max-width: 387px;

		font-family: $secondary-font;
		font-size: rem(17);
		font-weight: 500;
		font-style: normal;
		line-height: 145%;
	}

	// .form-section__form
	&__form {
		@include media-down(md) {
			grid-template-columns: 100%;

			padding: 0;
		}

		display: grid;
		grid-template-columns: repeat(2, calc(50% - 15px));
		gap: 20px 30px;

		padding: 15px;

		border-style: solid;
		border-width: 25px;
		border-image: url('../images/form-border.svg') 25;
	}

	// .form-section__control-wrapper
	&__control-wrapper {
		height: 100%;
	}

	// .form-section__buttons-wrapper
	&__buttons-wrapper {
		display: flex;
	}

	// .form-section__button
	&__button {
		flex: 1 1 50%;
	}

	// .form-section__button
	&__action {
		@include media-down(md) {
			width: 100%;

			outline-offset: -1px;
		}
		grid-column: 2 span;
	}
}
