.jury {
	position: relative;

	&__slider {
		@include media-down(xl) {
			overflow: visible;
		}
		position: relative;

		margin-top: -45px;
		padding-top: 45px;
	}

	&__title {
		@include media-down(xl) {
			margin-bottom: 75px;
		}

		@include media-down(md) {
			margin-bottom: 55px;
		}
		margin-bottom: 97px;
	}

	&__container {
		&::before {
			@include media-down(md) {
				position: absolute;
				top: -20px;
				left: -100px;
				transform: rotate(-19.21deg);

				width: 225px;
				height: 178px;

				filter: blur(50px);
			}
			content: '';

			position: absolute;
			top: 100px;
			left: -300px;

			width: 533px;
			height: 544px;

			background: conic-gradient(
				from 180deg at 50% 50%,
				#7362df 0deg,
				#9e24e9 112.5deg,
				#2e21c5 247.5deg,
				#841cd7 345deg,
				#7362df 360deg
			);
			filter: blur(79px);
			border-radius: 50%;
		}

		&::after {
			@include media-down(xl) {
				bottom: -200px;
			}

			@include media-down(md) {
				position: absolute;
				right: -150px;
				bottom: 0;
				transform: rotate(-172.91deg);

				width: 182.21px;
				height: 283.49px;

				/* Angular */

				filter: blur(50px);
			}
			content: '';

			position: absolute;
			right: -200px;
			bottom: -250px;
			transform: rotate(-172.91deg);

			width: 367px;
			height: 571px;

			/* Angular */

			background: conic-gradient(
				from 180deg at 50% 50%,
				#7362df 0deg,
				#f931d9 112.5deg,
				#153dea 224.87deg,
				#bc1cd7 360deg
			);
			filter: blur(79px);
		}
	}
}

.jury-card {
	$this: &;

	&::after {
		content: '';

		position: absolute;

		width: 100%;
		height: 100%;

		background: rgb(1 6 27 / 40%);
	}

	&__content {
		display: flex;
		flex-direction: column;

		height: 100%;
	}

	&__image {
		@include media-down(md) {
			height: 164px;
		}
		width: 100%;
		height: 246px;

		object-fit: cover;
	}

	&__information {
		margin-top: auto;
	}

	&__inner {
		@extend %border-card-content;
		@include media-down(xl) {
			padding: 10px;
			padding-bottom: 30px;
		}

		@include media-down(md) {
			padding: 15px;
			padding-bottom: 30px;
		}

		display: flex;
		flex-direction: column;

		height: 100%;
		padding: 20px;
		padding-bottom: 30px;
	}

	&__row {
		@include media-down(md) {
			font-size: rem(15);
		}
		display: flex;
		justify-content: space-between;

		font-family: $secondary-font;
		font-size: rem(17);
		font-weight: 500;
		font-style: normal;
		line-height: 145%;

		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}

	&__title {
		@include media-down(xl) {
			font-size: rem(24);
		}
		font-size: rem(36);
		font-weight: 400;
		font-style: normal;
		line-height: 120%;
	}

	&__text {
		text-transform: uppercase;

		&--underline {
			position: relative;

			&::after {
				content: '';

				position: absolute;
				bottom: 0%;
				left: 0%;

				width: 100%;
				height: 1px;

				background-color: #fff;
			}
		}
	}

	&__image-content {
		margin-bottom: 20px;

		border: 1px solid #fff;
	}

	&--middle {
		transform: translateY(-30px) !important;

		transition: transform 0.3s;

		&::after {
			content: none;
		}

		#{$this}__header {
			height: 46px;
			padding-left: 0;
		}
	}

	&__dots {
		position: relative;
		top: -6px;

		flex: 1 1 auto;

		margin: 0 5px;

		border-bottom: 3px dotted #fff;
	}
}

.jury-slider {
	&__buttons {
		@include media-down(md) {
			display: none;
		}
		position: absolute;
		top: 0;
		left: 100%;
		transform: translate(-100%);

		display: flex;
		column-gap: 13px;
	}

	&__card {
		display: flex;
		flex-direction: column;

		height: auto;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__line {
		@include media-down(xl) {
			background-image: url('../images/jury/line-md.svg');
		}

		@include media-down(md) {
			transform: translateY(-30px);

			width: 50%;
			margin: 0 auto;

			background-image: url('../images/jury/decor-line-md.svg');
			background-size: contain;
		}

		@include media-down(sm) {
			width: 90%;
		}
		height: 37px;
		margin-top: -9px;

		background-image: url('../images/jury/line.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
}
