.task-card {
	$this: &;

	position: relative;

	display: flex;
	flex-direction: column;

	font-weight: 400;

	&--1 {
		grid-area: task1;

		height: 100%;

		#{$this}__title {
			width: 438px;
		}

		#{$this}__right-side {
			right: -91px;
			bottom: -41px;
		}
	}

	&--2 {
		@include media-down(xl) {
			height: 100%;
		}
		grid-area: task2;

		height: 405px;

		#{$this}__title {
			width: 402px;
		}

		#{$this}__right-side {
			right: -52px;
			bottom: -62px;
		}

		#{$this}__footer {
			@include media-only(xl) {
				display: inline-flex;
				flex-direction: column;
				row-gap: rem(20);
				align-items: flex-start;

				& #{$this}__action {
					margin-right: 0;
				}
			}
		}
	}

	&--3 {
		grid-area: task3;

		height: 100%;

		#{$this}__title {
			width: 483px;
		}

		#{$this}__right-side {
			right: -34px;
			bottom: -25px;
		}
	}

	&--4 {
		@include media-down(xl) {
			height: 100%;
		}
		grid-area: task4;

		height: 405px;

		#{$this}__title {
			width: 420px;
		}

		#{$this}__right-side {
			right: -114px;
			bottom: -150px;
		}
		#{$this}__footer {
			@include media-only(xl) {
				display: inline-flex;
				flex-direction: column;
				row-gap: rem(20);
				align-items: flex-start;

				& #{$this}__action {
					margin-right: 0;
				}
			}
		}
	}

	&__image {
		position: relative;
		z-index: 2;
	}

	&__action {
		@include media-down(md) {
			font-size: rem(13);
		}
		padding: 5px 15px;

		font-family: 'Menoe Grotesque Pro Regular', sans-serif;
		font-size: rem(16);
		font-weight: 500;
		line-height: 140%;
		color: $primary-color;

		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 500px;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__footer {
		@include media-down(md) {
			display: inline-flex;
			flex-direction: column;
			row-gap: rem(10);
			align-items: flex-start;

			& #{$this}__action {
				margin-right: 0;
			}
		}

		display: flex;

		margin-top: auto;
	}

	&__left-side {
		display: flex;
		flex-direction: column;
	}

	&__right-side {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&__title {
		@include media-down(xl) {
			margin-bottom: rem(82);

			font-size: rem(24);
		}
		@include media-down(md) {
			margin-bottom: rem(30);

			font-size: rem(20);

			&[class*='__title'] {
				width: auto;
			}
		}
		font-size: rem(28);
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: -0.05em;
	}

	&__wrapper {
		@include media-down(md) {
			padding: 20px;
		}
		display: flex;

		height: 100%;
	}
}

.tasks {
	&__container {
		@include media-down(xl) {
			transform: scale(var(--zoom-factor, 1));
			transform-origin: center top;

			width: 768px;
		}

		@include media-down(md) {
			width: 320px;
		}
		position: relative;

		&::before {
			@include media-down(xl) {
				right: -300px;
			}

			@include media-down(md) {
				top: auto;
				right: -350px;
				bottom: 0;
			}

			content: '';

			position: absolute;
			top: 450px;
			right: -350px;
			transform: rotate(-166.49deg);

			width: 367px;
			height: 571px;

			background: conic-gradient(
				from 180deg at 50% 50%,
				#7362df 0deg,
				#f931d9 112.5deg,
				#153dea 224.87deg,
				#bc1cd7 360deg
			);
			filter: blur(75px);
		}
	}

	&__button {
		@include media-down(xl) {
			display: none;
		}

		grid-area: button;
	}

	&__grid {
		@include media-down(xl) {
			display: flex;
			flex-direction: column;
		}
		display: grid;
		grid-auto-rows: auto;
		grid-template:
			'task1 task2' auto
			'task3 task2' 26px
			'task3 task4' auto
			'button task4' 94px / calc(688px * 100% / 1200px) auto;
		gap: 30px;
	}

	&__title {
		@include media-down(xl) {
			margin-bottom: 40px;
		}
		margin-bottom: 60px;
	}

	// img {
	// 	display: none;
	// }
}
