.team {
	.decorative-elem {

		@include media-down(md) {
			width: 150px;
			height: 150px;
		}
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;

		width: 275px;
		height: 276px;

		filter: blur(50px);
		border-radius: 50%;

		&--1 {
			transform: translate(-50%, calc(-50% + 50px));

			background-color: #2b00ff;
		}

		&--2 {
			transform: translate(calc(-50% + 70px), -50%);

			background-color: #ae00ff;
		}

		&--3 {
			transform: translate(calc(-50% - 70px), -50%);

			background-color: #f0f;
		}
	}

	&__container {
		@include media-down(xl) {
			transform: scale(var(--zoom-factor, 1));
			transform-origin: center top;

			width: 768px;
		}

		@include media-down(md) {
			width: 320px;
		}
		position: relative;

		&::before {
			@include media-down(md) {
				top: -140px;
				left: -250px;

				width: 321.06px;
				height: 221.02px;

				filter: blur(45px);
			}
			content: '';

			position: absolute;
			top: -200px;
			left: -300px;
			transform: rotate(75.62deg);

			width: 475px;
			height: 327px;

			background: conic-gradient(
				from 180deg at 50% 50%,
				#7362df 0deg,
				#f931d9 112.5deg,
				#153dea 224.87deg,
				#bc1cd7 360deg
			);
			filter: blur(75px);
		}
	}

	&__title {
		@include media-down(xl) {
			margin-bottom: 40px;
		}
		margin-bottom: 60px;
	}

	&__card {
	}

	&__card-item {
	}

	&__card-list {
	}

	&__card-text {
	}

	&__image-block {
	}

	&__row {
		@include media-down(xl) {
			flex-direction: column;
			gap: 30px;

			margin-bottom: 0;
		}
		@include media-down(md) {
			gap: 20px;
		}

		z-index: 1;

		display: flex;
		gap: 31px;

		margin-bottom: 40px;
	}

	&__wrapper {
		@include media-down(xl) {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		@include media-down(md) {
			gap: 20px;
		}
	}
}

.team-action-card {
	@include media-down(xl) {
		margin-left: 0;
	}
	display: inline-block;

	margin-left: 206px;

	font-family: $secondary-font;
	font-size: rem(17);
	font-weight: 500;
	line-height: 140%;
	text-align: center;
	text-transform: uppercase;

	background: rgb(255 255 255 / 10%);
	backdrop-filter: blur(25px);

	&__button-left {
		position: relative;

		padding: 1em 0;

		color: inherit;

		background-color: unset;
		border: unset;
		border-right: 1px solid #fff;
	}

	&__button-right {
		@include media-down(xl) {
			padding: 10px;

			line-height: 49px;
		}

		@include media-down(md) {
			padding: 7px;

			line-height: 40px;
		}
		padding: 11px;

		line-height: 39px;

		outline: none;
	}

	&__button-left,
	&__button-right {
		@include media-down(md) {
			font-size: 14px;
		}
		display: flex;
		flex: 1 1 50%;
		align-items: center;
		justify-content: center;

		font-size: rem(17);
		font-weight: 500;
		font-style: normal;
		line-height: 140%;
		text-transform: uppercase;
	}

	&__content {
		@extend %border-card-content;
		@include media-down(xl) {
			font-size: rem(16);
		}
		@include media-down(md) {
			padding: 20px;

			font-size: rem(15);
		}
		padding: 25px 108px;

		border-bottom: none;
	}

	&__footer {
		display: flex;

		margin-top: 0;

		border: 1px solid #fff;
	}
}

.team-image {
	@include media-down(xl) {
		max-width: none;
	}

	@include media-down(md) {
		height: 225px;
	}
	position: relative;

	align-self: end;

	width: 100%;
	max-width: 687px;
	height: 321px;

	&__border {
		@include media-down(xl) {
			background: url('../images/team/border-for-brain-md.svg') no-repeat;
		}

		@include media-down(md) {
			background: url('../images/team/border-for-brain-xs.svg') no-repeat;
		}
		position: relative;

		height: 100%;

		background: url('../images/team/border-for-brain.svg') no-repeat;
	}

	&__image {
		@include media-down(xl) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 600px;
			height: 500px;

			background: url('../images/team/brain-md.png') center no-repeat;
		}

		@include media-down(md) {
			display: none;
		}
		pointer-events: none;

		position: absolute;
		top: 50%;
		bottom: 50%;
		transform: translate(-20%, -51%);

		display: none;

		width: 923px;
		height: 1023px;

		background: url('../images/team/brain.png') no-repeat;
	}
}

.team-card {
	font-family: $secondary-font;

	&__content {
		@extend %border-card-content;
		@include media-down(xl) {
			padding-bottom: 40px;
		}

		@include media-down(md) {
			padding: 20px;
			padding-bottom: 30px;
		}
	}

	&__item {
		@include media-down(xl) {
			font-size: rem(16);
		}

		@include media-down(md) {
			font-size: rem(15);
		}
		position: relative;

		&::before {
			@include media-down(md) {
				background: url('../images/team/list-marker.svg') left 6px
					no-repeat;
			}
			content: '';

			position: absolute;
			right: 100%;

			width: 30px;
			height: 100%;

			background: url('../images/team/list-marker.svg') left center
				no-repeat;
		}
	}

	&__list {
		@include media-down(xl) {
			display: flex;
			gap: 90px;
		}

		@include media-down(md) {
			display: block;

			padding-left: 30px;
		}
		padding-left: 70px;
	}

	&__text {
		@include media-down(xl) {
			margin-bottom: 20px;

			font-size: rem(16);
		}

		@include media-down(md) {
			margin-bottom: 15px;

			font-size: rem(15);
		}
		margin-bottom: 10px;

		font-size: rem(17);
		font-weight: 500;
		line-height: 145%;
	}
}
