.timeline {
	&__slider {
		// width: 100vw;
	}

	&__title {
		margin-bottom: 60px;
	}
}

.timeline-slider {
	&__inner {
		width: 130%;
		height: 515px;

		background-color: tomato;
	}
}
